 @media (min-width: 900px) {
     .btn {
         width: 30.7rem;
         height: 7.2rem;
         font-size: 1.4rem;
     }

     .grid {
         grid-template-columns: 1fr 1fr 1fr;
     }

     .header__nav--container {
         width: 100%;
     }

     .header__content--header-text {
         font-size: 9rem;
     }

     .section-1__text--container {
         gap: 3rem;

         padding: 3rem;


     }

 }