@media (min-width: 600px) {

    /* default */
    .btn {
        width: 22.7rem;
        height: 4.2rem;
        font-size: 1.2rem;
    }

    .grid {
        grid-template-columns: 1fr 1fr;
    }

    .section__h1--1 {
        font-size: 2.5rem;
        line-height: 3rem;
    }

    /* .section__h2--1 {
        color: #000000;
        font-size: 1.7rem;
        line-height: 1.7rem;
        font-weight: lighter;
        font-family: 'Lato', sans-serif;

    }
     */

    .section--p {
        letter-spacing: 0.12px;
        font-size: 1.5rem;
        line-height: 1.5rem;

    }

    .section-container {
        margin-bottom: 6rem;

    }

    .section-img--container {
        width: 50%;
    }

    .section--relative {
        position: static;
    }

    .section--absolute {
        position: static;

    }

    .section--img {

        opacity: 1;
        z-index: 1;
    }

    .section-1__text--container {
        width: 50%;
        padding-left: 3rem;
        padding-right: 3rem;
        gap: 2rem;
    }


    /* header */
    .header {
        padding: 5rem;

    }

    .header__nav--header-text {
        font-size: 3.5rem;

    }

    .header__nav--container {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

    }

    .header__nav--list {
        justify-content: space-between;
        font-size: 1.7rem;

    }


    .header__content--header-text {
        font-size: 6rem;
    }

    .header__content--subheader-text {
        font-size: 2rem;
        width: 80%;
    }

    .section-2__card--container {

        gap: 2rem;
    }

    .section-2__card__img--container {
        width: 6rem;
        height: 6rem;
    }

    .section-2--card {
        padding: 4rem;
        gap: 1.5rem;
    }

    /* section-3 */
    .section-3__img--container {
        height: 6rem;
        width: 6rem;

    }

    .section-3 {
        height: 80%;
    }

    .section-3__content--container {

        gap: 4rem;

    }

    /* section-4 */
    .section-4 {
        gap: 4rem;
    }

    .section-4__card--container {

        gap: 0;

    }

    /* footer */
    .footer {
        height: 6rem;
        padding-top: 2rem;
        padding-bottom: 2rem;

    }

}