@media (min-width: 600px) {

    /* default */
    .btn {
        width: 25.7rem;
        height: 5.2rem;
        font-size: 1.2rem;
    }

    .grid {
        grid-template-columns: 1fr 1fr;
    }

    .section__h1--1 {
        font-size: 3rem;
        line-height: 3rem;
    }

    .section--p {
        letter-spacing: 0.12px;
        font-size: 2rem;
        line-height: 2rem;
        font-weight: lighter;
    }



    .section-img--container {
        width: 50%;
    }

    .section--relative {
        position: static;
    }

    .section--absolute {

        position: static;

    }

    .section--img {
        width: 100%;
        height: 100%;
        object-fit: cover;

    }

    .section-1__text--container {
        width: 50%;
        padding: 3rem;
    }

    /* header */
    .header {
        padding: 5rem;

    }

    .header__nav--header-text {
        font-size: 3.5rem;

    }

    .header__nav--container {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        align-self: center;
    }

    .header__nav--list {
        justify-content: space-between;
        font-size: 2rem;
    }


    .header__content--header-text {
        font-size: 6rem;
    }

    .header__content--subheader-text {
        font-size: 2rem;
        width: 80%;
    }

    /* section-2 */
    /* .section-2 {
        flex-direction: column;
        text-align: center;
        gap: 3rem;
        width: 80%;
    } */

    .section-2__card--container {
        /* flex-direction: column; */
        gap: 2rem;
        /* flex-wrap: wrap;
        flex-direction: row; */

    }

    .section-2__card__img--container {
        width: 6rem;
        height: 6rem;
    }

    .section-2--card {

        padding: 4rem;
        gap: 1.5rem;
        /* width: 45%; */

    }

    .section-2__card--img {
        height: 100%;
        width: 100%;
    }

}